@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';
@import '@/app/styles/mixins/mixins.scss';

.FilterToggle {
	position: fixed;
	@include FlexDirection(center);
	gap: 30px;
}

input[type="checkbox"] {
	position: relative;
	width: 80px;
	height: 40px;
	-webkit-appearance: none;
	background: $accentColor;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
	transition: 0.7s;
}

input:checked[type="checkbox"] {
	background: $aliveColor;
}

input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background: $secondaryAccentColor;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: .5s;
}

input:checked[type="checkbox"]:before {
	left: 40px;
}