@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';
@import '@/app/styles/mixins/mixins.scss';

.Footer {
  width: 100%;
  height: 50px;
  padding: 0 50px;
  @include FlexDirection();
  border-top: 2px solid $greyOpacityColor;
  color: $secondaryTextColor;

  p {
    text-align: center;
  }
}
