@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';
@import '@/app/styles/mixins/mixins.scss';

.Card {
	width: 600px;
	height: 300px;
	background-color: $greyOpacityColor;
	border-radius: 5px;
	@include FlexContainer(start);
	gap: 30px;
	overflow: hidden;
}

.imgCard img {
	display: block;
}

.contentCard {
	height: 100%;
	padding: 20px 10px;
	@include FlexDirection(space-between);
	align-items: start;
}

.titleCard {
	font-size: 20px;

	a {
		color: $unknownColor;
		text-decoration: none
	}

	a:hover {
		color: $accentTextColor
	}
}

.statusCard {
	@include FlexContainer(start);
	gap: 10px;
}

.infoCard {
	font-size: 16px;
	line-height: 25px;
}

span {
	color: $unknownColor;
}