@import '@/app/styles/variables/backgroundColor.scss';
@import '@/app/styles/variables/fontColor.scss';
@import '@/app/styles/mixins/mixins.scss';

.CharactersPage {
  width: 80%;
}

.titleCharacterPage {
  width: 100%;
  @include FlexContainer();
  padding: 50px 0;
  font-size: 25px;
  cursor: pointer;

  svg:hover {
    fill: $accentColor;
  }
}

span {
  color: $unknownColor;
}

@media screen and (max-width: 440px) {
  .titleCharacterPage {
    padding: 80px 0 30px 0;
  }
}
